.ui-autocomplete {
  margin: 0px;
  padding: 0;
  float: left;
  background-color: #eeeeee;;
  border: solid 1px #cccccc;
  z-index: 2;
}

.ui-autocomplete li {
  list-style-type: none;
  padding: 10px 8px;
  border-bottom: solid 1px #cccccc;
  background: #ffffff;
  color: #212635;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background: #2B85C6;
  }
  &:last-child {
    border: none;
  }
}

.select2-container {
  width: 80px;
}

.pointer {
  cursor: pointer;
}

.copyrights {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #fa252d;
  color: white;
}

#login_screen {
  background-image: image-url('login.jpg');
}

.checkbox_align {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -3px;
  *overflow: hidden;
}