.ui-autocomplete {
  margin: 0px;
  padding: 0;
  float: left;
  background-color: #eeeeee;;
  border: solid 1px #cccccc;
  z-index: 2;
}

.ui-autocomplete li {
  list-style-type: none;
  padding: 10px 8px;
  border-bottom: solid 1px #cccccc;
  background: #ffffff;
  color: #212635;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background: #2B85C6;
  }
  &:last-child {
    border: none;
  }
}

.select2-container {
  width: 80px;
}

.pointer {
  cursor: pointer;
}

.copyrights {
  clear: both;
  position: fixed;
  z-index: 100;
  height: 3em;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: -3em;
  background-color: #fa252d;
  color: white;
  padding: 1rem;
}

#login_screen {
  background-image: image-url('login.jpg');
}

.checkbox_align {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

#align {
  bottom: 120px;
}

#align1 {
  bottom: 80px;
}

#user-name-align {
  top: -10px;
}

#left {
  right: inherit;
}

#rem {
  padding: 12%;
  width: 120%;
}

#addon-color {
  background-color: #ffffff;
  padding: 0;
}

#search-event {
  padding: 12%;
  width: 120%;
}

.radio-button {
  vertical-align: top;
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;

  .first {
    padding: 0;
    float: none;
    border: none;
  }

  .prev {
    padding: 0;
    float: none;
    border: none;
  }

  .page {
    padding: 0;
    float: none;
    border: none;
  }

  .next {
    padding: 0;
    float: none;
    border: none;
  }

  .last {
    padding: 0;
    float: none;
    border: none;
  }

}